<center><h1> Numbers that are divisible by 3, 5 and both 3 and 5 should always return a word, otherwise a number shoud return </h1>


<form method="post" action="post_mined_minds">
     <input type= "text" name="number">
     <input type="submit">


</form>
</center>